body{
  background-color: black;
  color: white; 
}
.App {
  width:50vw;
  margin: auto;
}
.head{
  margin-top: 15vh;
  font-size: 40px;
}
input{
  font-size: 14px;
  margin-bottom: 5vh;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  padding: 2vh 40vw 1vh 0;
}
button{ 
  width: 15vw;
  height: 5vh;
  margin-top: 3vh;
  font-size: 20px;
}
.succ{
  color: greenyellow;
}
.err{
  color: red;
}